In [1]:
import pandas as pd

#1. 도시 공원 생활권 데이터 로딩
df1 = pd.read_csv("./data/1_서울시 아파트별 도시공원 생활권 정보_mod.csv", encoding="cp949")
df1.head()

,시군구코드,법정동코드,단지코드,단지명,세대수,법정동주소,공원수,공원총면적,생활지수,생활지수명,평가점수
0,11110,1111011500,A11005401,광화문풍림스페이스본 아파트,744,서울특별시 종로구 사직동 9 광화문풍림스페이스본 아파트,12,317184.27,4,중하위권,81
1,11110,1111011800,A11007001,경희궁의아침3단지,150,서울특별시 종로구 내수동 72 경희궁의아침3단지,16,321615.17,4,중하위권,81
2,11110,1111011800,A11087101,경희궁의아침2단지,90,서울특별시 종로구 내수동 71 경희궁의아침2단지,16,322286.17,4,중하위권,81
3,11110,1111012400,A11014001,로얄팰리스스위트,23,서울특별시 종로구 수송동 85 로얄팰리스스위트,15,67828.60,4,중하위권,71
4,11110,1111013300,A11034001,현대뜨레비앙,291,서울특별시 종로구 익선동 55 현대뜨레비앙,8,533213.30,3,중위권,85

In [3]:
df1_group2 = df1[['단지명', '법정동주소', '공원수']]
df1_group2.head()

              단지명                           법정동주소  공원수
0  광화문풍림스페이스본 아파트  서울특별시 종로구 사직동 9 광화문풍림스페이스본 아파트   12
1       경희궁의아침3단지      서울특별시 종로구 내수동 72 경희궁의아침3단지   16
2       경희궁의아침2단지      서울특별시 종로구 내수동 71 경희궁의아침2단지   16
3        로얄팰리스스위트       서울특별시 종로구 수송동 85 로얄팰리스스위트   15
4          현대뜨레비앙         서울특별시 종로구 익선동 55 현대뜨레비앙    8

In [7]:
#2. 산책 생활권 정보 로딩
df2 = pd.read_csv("./data/2_서울시 아파트별 산책 생활권 정보_mod.csv", encoding="cp949")
df2.head()

,시군구코드,법정동코드,단지코드,단지명,세대수,법정동주소,코스수,코스총길이,생활지수,생활지수명,평가점수
0,11110,1111011500,A11005401,광화문풍림스페이스본 아파트,744,서울특별시 종로구 사직동 9 광화문풍림스페이스본 아파트,9,16916.61,1,상위권,95
1,11110,1111011800,A11007001,경희궁의아침3단지,150,서울특별시 종로구 내수동 72 경희궁의아침3단지,8,15662.61,1,상위권,94
2,11110,1111011800,A11087101,경희궁의아침2단지,90,서울특별시 종로구 내수동 71 경희궁의아침2단지,8,15662.61,1,상위권,94
3,11110,1111012400,A11014001,로얄팰리스스위트,23,서울특별시 종로구 수송동 85 로얄팰리스스위트,6,12605.88,2,중상위권,92
4,11110,1111013300,A11034001,현대뜨레비앙,291,서울특별시 종로구 익선동 55 현대뜨레비앙,4,11385.21,2,중상위권,91

In [31]:
df2_group2 = df2[['단지명','코스수']]
df2_group2 = df2_group2.rename(columns={'코스수':'산책 코스수'})
df2_group2.head()

              단지명  산책 코스수
0  광화문풍림스페이스본 아파트       9
1       경희궁의아침3단지       8
2       경희궁의아침2단지       8
3        로얄팰리스스위트       6
4          현대뜨레비앙       4

In [39]:
a= pd.merge(df1_group2, df2_group2, how='left')
a

                 단지명                           법정동주소  공원수  산책 코스수
0     광화문풍림스페이스본 아파트  서울특별시 종로구 사직동 9 광화문풍림스페이스본 아파트   12       9
1          경희궁의아침3단지      서울특별시 종로구 내수동 72 경희궁의아침3단지   16       8
2          경희궁의아침2단지      서울특별시 종로구 내수동 71 경희궁의아침2단지   16       8
3           로얄팰리스스위트       서울특별시 종로구 수송동 85 로얄팰리스스위트   15       6
4             현대뜨레비앙         서울특별시 종로구 익선동 55 현대뜨레비앙    8       4
...              ...                             ...  ...     ...
2656       강일리버파크4단지     서울특별시 강동구 강일동 673 강일리버파크4단지    7       0
2657       강일리버파크6단지     서울특별시 강동구 강일동 684 강일리버파크6단지   10       2
2658       강일리버파크7단지     서울특별시 강동구 강일동 686 강일리버파크7단지    9       0
2659       강일리버파크5단지     서울특별시 강동구 강일동 670 강일리버파크5단지    7       0
2660      강일리버파크11단지    서울특별시 강동구 강일동 689 강일리버파크11단지    9       1

[2661 rows x 4 columns]

In [11]:
#3. 한강, 지천 생활권 데이터 로딩
df3 = pd.read_csv("./data/3_서울시 아파트별 한강 및 지천 생활권 정보 (3).csv", encoding="cp949")
df3.head()

,시군구코드,법정동코드,단지코드,단지명,세대수,법정동주소,코스수,코스총길이,생활지수,생활지수명,평가점수
0,11110,1111011500,A11005401,광화문풍림스페이스본 아파트,744,서울특별시 종로구 사직동 9 광화문풍림스페이스본 아파트,0,0.0,5,하위권,0
1,11110,1111011800,A11007001,경희궁의아침3단지,150,서울특별시 종로구 내수동 72 경희궁의아침3단지,1,8179.5,4,중하위권,84
2,11110,1111011800,A11087101,경희궁의아침2단지,90,서울특별시 종로구 내수동 71 경희궁의아침2단지,1,8179.5,4,중하위권,84
3,11110,1111012400,A11014001,로얄팰리스스위트,23,서울특별시 종로구 수송동 85 로얄팰리스스위트,1,8179.5,4,중하위권,84
4,11110,1111013300,A11034001,현대뜨레비앙,291,서울특별시 종로구 익선동 55 현대뜨레비앙,1,8179.5,4,중하위권,84

In [32]:
df3_group2 = df3[['단지명','코스수']]
df3_group2 = df3_group2.rename(columns={'코스수':'하천길 코스수'})
df3_group2.head()

              단지명  하천길 코스수
0  광화문풍림스페이스본 아파트        0
1       경희궁의아침3단지        1
2       경희궁의아침2단지        1
3        로얄팰리스스위트        1
4          현대뜨레비앙        1

In [40]:
b= pd.merge(a, df3_group2, how='left')
b

                 단지명                           법정동주소  공원수  산책 코스수  하천길 코스수
0     광화문풍림스페이스본 아파트  서울특별시 종로구 사직동 9 광화문풍림스페이스본 아파트   12       9        0
1          경희궁의아침3단지      서울특별시 종로구 내수동 72 경희궁의아침3단지   16       8        1
2          경희궁의아침2단지      서울특별시 종로구 내수동 71 경희궁의아침2단지   16       8        1
3           로얄팰리스스위트       서울특별시 종로구 수송동 85 로얄팰리스스위트   15       6        1
4             현대뜨레비앙         서울특별시 종로구 익선동 55 현대뜨레비앙    8       4        1
...              ...                             ...  ...     ...      ...
2692       강일리버파크4단지     서울특별시 강동구 강일동 673 강일리버파크4단지    7       0        2
2693       강일리버파크6단지     서울특별시 강동구 강일동 684 강일리버파크6단지   10       2        2
2694       강일리버파크7단지     서울특별시 강동구 강일동 686 강일리버파크7단지    9       0        2
2695       강일리버파크5단지     서울특별시 강동구 강일동 670 강일리버파크5단지    7       0        2
2696      강일리버파크11단지    서울특별시 강동구 강일동 689 강일리버파크11단지    9       1        2

[2697 rows x 5 columns]

In [41]:
print (b.loc[b['단지명'] == "성산월드타운대림"])

           단지명                       법정동주소  공원수  산책 코스수  하천길 코스수
1265  성산월드타운대림  서울특별시 마포구 성산동 601 성산월드타운대림   18       8        3